[class*="container"] {
    height: 300px;
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    display: grid

}

/**
* Grids with specific positioning
*/

.container1 {
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];

}


.item-a {
    background-color: pink;

        /*grid-column-start: 2;
        grid-column-end: five;
        grid-row-start: row1-start;
        grid-row-end: 3;*/
        /* short-hand for grid-kolumn start/end */
        grid-column: 2 / five;
        /* short-hand for grid-row start/end */
        grid-row: 2 / five;


}

.item-b {
    background-color: rgb(0, 0, 0, 0,3);    
    
        grid-column-start: 1;
        grid-column-end: span col4-start;
        grid-row-start: 2;
        grid-row-end: span 2;
      }
      

.item-c {
    background-color: orange;
}

/**
* Grids with out specific positioning
*/

.container2 {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: auto; /* Default value */
    padding: 10px;
    /* column-gap: 10px;
    row-gap: 15px; */
    /* short hand */

    gap: 15px 10px;

    align-items: stretch; /* start | end | center | stretch; */
    justify-items: center; /* start | end | center | stretch; */
    /* short hand*/
    place-items: stretch stretch;

    /* Position column wise*/
    justify-content: space-between;
    align-content: space-evenly;
    place-content: stretch stretch;

  }
  
  

[class*="box"] {
    border: 1px solid #333;
}

.box5 {
    align-self: center;
    justify-self: center;
    place-self: center center;


}